<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-down"data-aos-easing="linear"data-aos-duration="1500">
            <div class="footer-info">
              <h3>Travel Mera Desh</h3>
              <p class="pb-3"><em>Natural beauty, landscapes, and India's cultural diversity are some tourist attractions of India</em></p>
              <p>
                704-Nautica -D <br>
                Casario, Palava city<br><br>
                Mumbai, India Pin-421204<br>
                <strong>Phone:</strong>+91 9867198208<br>
                <strong>Email:</strong> info@travelmeradesh.com<br>
              </p>
              <div class="social-links mt-3">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links"data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <h4 class="text-orange">Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links"data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <h4 class="text-orange">Our Services</h4>
            <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Tourism</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Hospitality</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Hotel Booking</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Ticket Booking</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Tour And Travel</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter"data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <h4 class="text-orange">Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
       
      <div class="copyright">
        &copy; Copyright <strong><span>TravelMeraDesh</span></strong>.@2023 All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https:www.travelmeradesh.com/">TRAVEL MERA DESH</a>
      </div>
    </div>
  </footer><!-- End Footer -->
