<div class="container">
<div class="section-title text-center mt-4" data-aos="zoom-in" data-aos-delay="100">
    <h2 class="sub-header">Our Number</h2>
    <p class="py-4">Our hospitality industry is a broad category of fields within the service industry that includes lodging, food and drink service, event planning, theme parks, travel and tourism. It includes hotels, tourism agencies, restaurants and bars.</p>
  </div>
<div class ="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-sm-2 my-0">
        <div class="card text-center bg-dark text-white"  data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card-body">
              <h5 class="card-title display-3"><i class="fa-solid fa-list-check"></i></h5>
              <p class="card-text display-4">{{projectcount}}</p>
              <h6 class="">Project Completed</h6>
            </div>
          </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-sm-2 my-0">
        <div class="card text-center bg-orange text-white"  data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card-body">
              <h5 class="card-title display-3"><i class="fa-solid fa-pen-to-square"></i></h5>
              <p class="card-text display-4">{{accuratecount +"%"}}</p>
              <h6 class="">Our Accuracy</h6>
            </div>
          </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-sm-2 my-0">
        <div class="card text-center bg-dark text-white"  data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card-body">
              <h5 class="card-title display-3"><i class="fa-solid fa-people-group"></i></h5>
              <p class="card-text display-4">{{clientcount}}</p>
              <h6 class="">Our Client</h6>
            </div>
          </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-sm-2 my-0">
        <div class="card text-center bg-orange text-white"  data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="card-body">
              <h5 class="card-title display-3"><i class="fa-solid fa-trophy"></i></h5>
              <p class="card-text display-4">{{customercount+"%"}}</p>
              <h6 class="">Customer Satisfaction</h6>
            </div>
          </div>
    </div>
</div>
</div>