 <section class="services">
    <div class="container">

      <div class="section-title text-center mt-4 " data-aos="zoom-in">
        <h2 class="sub-header">Mode of Travel</h2>
        <p class="py-4">The different modes of transport are air, water, and land transport, which includes rails or railways, road and off-road transport. Other modes also exist, including pipelines, cable transport, and space transport.</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 ">
          <div class="icon-box text-center" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
            <div class="icon"><i class="fa-sharp fa-solid fa-bus"></i></div>
            <h4 class="title"><a href="">Bus</a></h4>
            <p class="description">Whether you’re taking a public bus, a charter bus across a country or a hop-on-hop-off tourist bus, there are a few things to remember.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 ">
          <div class="icon-box text-center"  data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
            <div class="icon"><i class="fa-solid fa-plane-departure"></i></div>
            <h4 class="title"><a href="">Airplane</a></h4>
            <p class="description">A fixed-wing aircraft, typically airplane, is a heavier-than-air flying vehicle, in which the special geometry of the wings generates lift and then lifts the whole vehicle.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 ">
          <div class="icon-box text-center"  data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
            <div class="icon"><i class="fa-solid fa-train"></i></div>
            <h4 class="title"><a href="">Train</a></h4>
            <p class="description">Rail transport is a means of conveyance of passengers and goods by way of wheeled vehicles running on rail track, known as a railway or railroad</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 ">
          <div class="icon-box text-center Id-slide-rtl-in"  data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
            <div class="icon"><i class="fa-solid fa-car"></i></div>
            <h4 class="title"><a href="">Car</a></h4>
            <p class="description">Whether you rent a car, drive your own, use a ride share app, or take a taxi, driving is another simple way to travel around.</p>
          </div>
        </div>

      </div>

    </div>
  </section>