.slider-bg{
    background-color: #1d1c1c93;
}
.slider-bg h1{
    font-family: 'Roboto', sans-serif!important;
    font-weight: 900;
    font-style: italic;
   
}
.slider-bg h3{
    font-family: 'Roboto', sans-serif!important;
    font-weight: 700;
    font-style: italic;
    color:#ffeb3b!important;
}
.slider-bg p{
    font-family: 'Roboto', sans-serif!important;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}
.text-gradient{
    color:#ff5722!important;
}

