<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let result of sliderdata; let i = index" [ngClass]="{'active': i === 1}">
        <img src="{{result.imageUrl}}" class="d-block w-100" alt="slider-img">
        <div class="carousel-caption d-none d-md-block">
        <div class="slider-bg p-2" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <p><img src="{{result.imageWelcome}}" width="60px" height="100px"></p>
          <h1 class="text-info">{{result.header[0]}}<br>{{result.header[1]}} <br><span class="text-gradient">{{result.header[2]}} <span class="text-white">{{result.header[3]}}</span> <span class="text-success"> {{result.header[4]}}</span></span></h1>
          <h3 class="text-indigo">{{result.subHeader}}</h3>
          <p class="text-info">{{result.longDesc}}</p>
        </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  