<section class="team">
    <div class="container">

        <div class="section-title text-center mt-4" data-aos="zoom-in">
            <h2 class="sub-header">Our Team </h2>
            <p class="py-4">The different modes of transport are air, water, and land transport, which includes rails or railways, road and off-road transport. Other modes also exist, including pipelines, cable transport, and space transport.</p>
          </div>

      <div class="row">

        <div class="col-lg-4 col-md-6"  data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <div class="member">
            <div class="pic"><img src="assets/images/team-1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Saroj Kumar Mishra</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6"  data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <div class="member">
            <div class="pic"><img src="assets/images/team-2.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Swetagandha Panda</h4>
              <span>Product Manager</span>
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6"  data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <div class="member">
            <div class="pic"><img src="assets/images/team-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Ashvik Mishra</h4>
              <span>CTO</span>
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
